@tailwind base;
@tailwind components;
@tailwind utilities;

/* light mode default bg color*/
/* bg-slate-100 */
/* rgb(241 245 249); */
/* #F1F5F9 */

/* light mode default bg color*/
/* bg-slate-200 */
/* rgb(226 232 240); */
/* #e2e8f0 */

h3 {
  @apply text-sm;
}

span {
  white-space: pre;
}

input {
  @apply rounded-xl text-sm px-3 py-2
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: #EEEEEE;
}
