@tailwind base;
@tailwind components;
@tailwind utilities;

/* light mode default bg color*/
/* bg-slate-100 */
/* rgb(241 245 249); */
/* #F1F5F9 */

/* light mode default bg color*/
/* bg-slate-200 */
/* rgb(226 232 240); */
/* #e2e8f0 */

h3 {
  @apply text-sm;
}

.input-focus {
  @apply focus:ring-2 focus:ring-offset-2 focus:ring-habit-green focus:outline-none;
}

span {
  white-space: pre;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: #eeeeee;
}

.rdrDateRangePickerWrapper {
  width: 100%;
}

.rdrCalendarWrapper {
  width: 100%;
}

.rdrDateInput {
  background-color: black;
}

@layer utilities {
  .fade-in {
    @apply opacity-0;
    animation: fadeIn 0.5s forwards;
  }
  .fade-out {
    @apply opacity-100;
    animation: fadeOut 0.5s forwards;
  }
}
